.w-full {
    width: 100%;
}

.customer-table thead tr th {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.customer-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.customer-table thead tr th:first-child {
    width: 150px !important;
}

.customer-table thead tr th:last-child {
    width: 50px !important;
}

.sources .MuiSelect-root {
    padding: 12px;
    font-size: 12px;
}

.text-control {
    font-size: 14px;
}