.audience .echarts-for-react {
    height: 180px !important;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper-flexbox .scrollable-item {
    flex: 0 0 auto;
    margin-right: 50px;
}

.scrollable-item {
    border: 1px solid white;
    width: 230px;
    height: 100px;
    
}

.scrolling-wrapper-flexbox {
    height: 160px;
    width: 100%;
    -webkit-overflow-scrolling: touch;

}

scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}

.flex {
    justify-content: space-between;
}


.text-muted > h6 {
    font-size: 18px;
}

.text-muted > p {
    margin-top: -5px;
    
}

.kard {
    border: 1px solid green;
    height: 130px;   
}


.pics {
    width: 70px;
    border-radius: 50%;
    background-color: grey;
    height: 70px
}

.scrolling-wrapper-grid {
    overflow-x: auto;
}

.flix {
    justify-content: space-around;
    display: flex;
}


.kord {
    height: 80px;
    border: 1px solid green;
    padding: 3px 10px 0px 10px;
    width: 70%;
}

.kerd {
    height: 80px;
    border: 1px solid green;
    margin: -12px 0px;
    padding: 3px 10px 0px 10px;
    width: 70%;
}

.scroll {
    display: flex;
    justify-content: space-around;
    Align-items: center;
}