.PENDING {
    color: #EF882C;
    background-color: rgba(239, 136, 44, 0.15);
  }
  
  .VERIFIED {
    color: #27AE60;
    background-color: rgba(39, 174, 96, 0.1);
  }
  
  .SUSPENDED {
    color: #926202;
    background-color: #f8dda7;
  }


.agent-table thead tr th {
    padding-left: 48px;
    background: #F0F2F5;
    font-size: 14px;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.agent-table thead tr th .MuiButton-text {
    font-weight: 800;
    color: #000000;
  }

.agent-table tbody tr td .MuiTableCell-root{
    color: red;
    font-size: 12px;
  }

.agent-table thead th{
    color: red !important;
    font-size: 8px !important;
  }

.agent-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.agent-table tbody{
    padding: 0 20px;
    overflow-x: hidden;
  }
  
.agent-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #FAFBFD;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000000;
  }
  
.agent-table .MuiTable-root {
    margin-top: 10px;
  }

.agent-table tbody tr td{
    text-align: center;
  }

.w-full {
    width: 100%;
}

.agent-table thead tr th:first-child {
    width: 100px !important;
}

.text-muted {
    font-size: 14px;
}

.text-control {
    font-size: 14px;
}

.sources .MuiSelect-root {
    padding: 12px;
    font-size: 12px;
}