.w-50 {
  width: 10rem;
  overflow: hidden;
  height: 4rem;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: normal;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.deactivate-button {
  font-weight: bold;
  text-transform: uppercase;
}

.SUSPENDED {
  background-color: #008a16;
  color: #fff;
}

.ACTIVE {
  border-color: #ed1515 !important;
}
