.product--form {
    display: flex;
    flex-direction: column;
    /* min-height: 80vh; */
    /* justify-content: space-between; */
    gap: 20px;
}

.form--flex {
    display: flex;
    justify-content: space-between;
}

.section-title {
    font-weight: 600;
    font-size: 14px;
    color: black;
    padding-bottom: 5px;
}

.form-border .MuiOutlinedInput-input {
    border: 1px solid #B3DAB9;
    border-radius: 4px;
}

.product--form .jodit-container {
    border: 1px solid #B3DAB9!important;
}
.form-group{
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding: 10px;
    color: black;
}

.sub{
    padding-left: 20px;
}
.sub-sub{
    padding-left: 40px;
}
.form-group button{
    color: #000;
    padding: 0 !important;
}
.product-category button.MuiButton-text{
    padding: 0 !important;
    text-decoration: underline !important;
    color: #000 !important;
}
.product-category button.MuiButton-text{
    background: transparent;
}
/* .form-group button span{
    text-decoration: underline;
} */










.features-table thead tr th {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #F0F2F5;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .features-table thead tr th .MuiButton-text {
    font-weight: 600;
    color: #000000;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  
  .features-table .MuiTableCell-root {
    border-bottom: 4px solid #ffffff!important;
  }

  .feature-table {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
  
  .features-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #FAFBFD;
    font-size: 14px ;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000000;
    font-family:'Overpass', sans-serif !important;
    font-weight: 400;
  }
  
  .features-table .MuiTable-root {
    margin-top: 10px;
  }
  
  
  .addnew {
    font-family: 'Fira Sans Condensed', sans-serif;
  }

  .tag-table thead tr th {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #F0F2F5;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .tags-table {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
  }

  .tag-table thead tr th .MuiButton-text {
    color: #000000;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  
  .features-table .MuiTableCell-root {
    border-bottom: 4px solid #ffffff!important;
  }
  
  .tag-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #FAFBFD;
    font-size: 14px ;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000000;
    font-family:'Overpass', sans-serif !important;
    font-weight: 400;
  }
  
  .tag-table .MuiTable-root {
    margin-top: 10px;
  }


  .brand-table thead tr th {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #F0F2F5;
    padding-top: 4px;
    padding-bottom: 4px; 
  }
  
  .brand-table thead tr th .MuiButton-text {
    color: #000000;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  
  .brand-table .MuiTableCell-root {
    border-bottom: 4px solid #ffffff!important;
  }

  .brands-table {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
  }
  
  .brand-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #FAFBFD;
    font-size: 14px ;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000000;
    font-family:'Overpass', sans-serif !important;
    font-weight: 400;
  }
  
  .brand-table .MuiTable-root {
    margin-top: 10px;
  }
