.ussd-cat-table thead tr th {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #F0F2F5;
    padding-top: 4px;
    padding-bottom: 4px;
}

.ussd-cat-table thead tr th .MuiButton-text {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
}

.ussd-cat-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #FAFBFD;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000000;
    font-family: 'Overpass',sans-serif;
    font-weight: 400;
}

.ussd-cat-table .MuiTable-root {
    margin-top: 10px;
}

.featured {
    background: #C6F0DC;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px !important;
}

.featured div {
    background: #27AE60;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.not-featured {
    background: #D9D9D9;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px !important;
}

.not-featured div {
    background: #636262;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.category {
    padding: 5px 8px;
    width: fit-content;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500px;
}

.isFeatured {
    color: #636262;
    background-color: #D9D9D9;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.isNotFeatured {
    color: #27AE60;
    background-color: #C6F0DC;
    font-family: 'Overpass',sans-serif;
    font-weight: 400;
}

.ussd-cat-table tbody tr td{
    border: none !important;
}
.ml-btn{
    margin-left: -40px;
}