.PENDING {
  background-color: #ffc8a7;
  color: #bf510f;
}

.PROCESSING {
  color: #197e19;
  background-color: #c6e1c6;
}

.COMPLETED {
  color: #095aba;
  background-color: #85bbfa;
}
.CONVERTED {
  color: black;
  background-color: yellow;
}

.DELIVERED {
  background-color: #5589ed;
  color: #ffffff;
}

.ON_HOLD {
  color: #926202;
  background-color: #f8dda7;
}

.DISPUTED {
  color: #900404;
  background-color: #f9b1b1;
}

.AWAITING_PAYMENT {
  color: #9f6a00;
  background-color: #fff8d7;
  display: flex;
}

.AWAITING_FULFILMENT {
  color: #076a70;
  background-color: #d7fdff;
}

.MANUAL_VERIFICATION_REQUIRED {
  color: #1f4535;
  background-color: #e3e3e3;
}

.ORDER {
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  font-weight: 600 !important;
}

.PAID {
  color: #008a16;
  font-weight: 800 !important;
  background-color: #fcfcfc;
}

.qty {
  padding: 7px !important;
  padding-top: 12px !important ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-container{
  display: flex;
}
#print-area{
  display: flex;
  justify-content: space-between;
}

#print-area > div{
  background: #EEEEEE;
  padding: 20px 0;
}

.order-width{
  max-width: 580px;
  min-width: 400px;
}

.customer-details{
  display: flex;
}
p{
  line-height: 5px;
  font-weight: 400;
}
h5{
  font-weight: 600;
}

.order-image{
  object-fit: contain;
  margin-right: 20px;
  width: 100px;
}
.product-name{
  color: rgb(0, 127, 218);
  text-decoration: underline;
}
.order-flex{
  display: flex;
}

.order-table{
  width: 100%;
}
.order-table thead tr th:first-child{
  width: 65% !important;
}
.order-table tbody tr td:first-child{
  width: 65% !important;
}

.order-table tr{
  display: flex;
  justify-content: space-between;
}
.order-items, .shipping-items, .order-total{
  padding: 10px; 
}
.order-total{
  display: flex;
  justify-content: flex-end;
}
.flex-right{
  margin-top: 20px;
}
.order-card{
  margin-bottom: 20px;
}
.invoice-btn{
  background: #EEEEEE !important;
  color: #000 !important;
}
.textarea{
  background: #eee;
}