.PENDING {
  background-color: #ffc8a7;
  color: #bf510f;
}

.PROCESSING {
  color: #197e19;
  background-color: #c6e1c6;
}

.COMPLETED {
  color: #095aba;
  background-color: #85bbfa;
}

.CONVERTED {
  color: black;
  background-color: yellow;
}

.DELIVERED {
  background-color: #5589ed;
  color: #ffffff;
}

.ON_HOLD {
  color: #926202;
  background-color: #f8dda7;
}

.DISPUTED {
  color: #900404;
  background-color: #f9b1b1;
}

.AWAITING_PAYMENT {
  color: #9f6a00;
  background-color: #fff8d7;
  display: flex;
}

.AWAITING_FULFILMENT {
  color: #076a70;
  background-color: #d7fdff;
}

.MANUAL_VERIFICATION_REQUIRED {
  color: #1f4535;
  background-color: #e3e3e3;
}

.ORDER {
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  font-weight: 600 !important;
}

.PAID {
  color: #008a16;
  font-weight: 800 !important;
  background-color: #fcfcfc;
}

.qty {
  padding: 7px !important;
  padding-top: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-container {
  display: flex;
}

#print-area {
  display: flex;
  justify-content: space-between;
}

#print-area>div {
  background: #EEEEEE;
  padding: 20px 0;
}

.order-width {
  max-width: 580px;
  min-width: 400px;
}

.customer-details {
  display: flex;
  margin-top: 20px;
}

p {
  line-height: 5px;
  font-weight: 400;
}

h5 {
  font-weight: 600;
}

.order-image {
  object-fit: contain;
  margin-right: 20px;
  width: 60px;
}

.product-name {
  color: rgb(0, 127, 218);
  text-decoration: underline;
}

.order-flex {
  display: flex;
}

.order-table {
  width: 100%;
}

.order-table thead tr th:first-child {
  width: 65% !important;
}

.order-table tbody tr td:first-child {
  width: 65% !important;
}

.order-table tr {
  display: flex;
  justify-content: space-between;
}

.order-items,
.shipping-items,
.order-total {
  padding: 10px;
}

.order-total {
  display: flex;
  justify-content: flex-end;
}

.flex-right {
  margin-top: 20px;
}

.order-card {
  margin-bottom: 20px;
}

.invoice-btn {
  background: #d9d6d6 !important;
  color: #000 !important;
  font-size: 12px !important;
  width: 180px !important;
}

.textarea {
  background: #eee;
}

.order-view {
  background-color: #edf2f4;
}

.no-border .MuiPaper-root {
  box-shadow: none;
  height: 100%;
}

.no-border1 {
  padding-top: 4px!important;
}

.no-border1 .MuiPaper-root {
  box-shadow: none;
  height: 100%;
}

.no-border2 {
  padding-top: 6px!important;
}

.no-border2 .MuiPaper-root {
  box-shadow: none;
  height: 100%;
}

.order-header p {
  font-size: 11px;
}

.order-text-10 {
  font-size: 10px;
}

.order-text-12 {
  font-size: 12px;
}

.order-text-14 {
  font-size: 14px;
}

.order-border-bottom {
  border-bottom: 1px solid #edf2f4;
}

.desc-width {
  width: 150px;
}

.comment-header, .download-header, .notice-header{
  font-weight: bold !important;
}

.notice-btn{
  background: #eee !important;
  color:#000 !important;
}

.chat-text-12{
  font-size: 12px !important;
}
.chat-section{
  margin-top: 10px !important;
}

.edit-action button{
  /* background: rgb(223, 223, 223); */
  color: #4e8b0f;
  cursor: pointer;
  font-weight: 700;
  padding: 0;
  font-size: 8px;
}
.edit-dropdown{
  padding: 0 !important; 
}
select.status-box{
  padding: 5px;
  background: rgb(230, 230, 230);
  outline: 0px;
  border: 0px;
  font-size: 10px;
  font-weight: bold;
  width: 100px !important;
}
.header-flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.del-icon{
  font-size: 14px !important;
  cursor: pointer;
}

.stats-nav {
  position: absolute;
  left: 20;
  top: 110px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.stats-nav li{
  cursor: pointer;
  padding-right: 10px;
  font-size: 12px;
}
.stats-nav li:hover{
  font-weight: 600;
}

.filter-area{
  margin-bottom: 40px !important;
}
.active{
  color: red;
}

.all-order-table thead tr th {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.all-order-table tbody tr td {
  padding-left: 24px !important;
  padding-right: 24px !important;
}