.PENDING {
  color: #EF882C;
  background-color: rgba(239, 136, 44, 0.15);
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.PROCESSING {
  color: #2F80ED;;
  background-color: rgba(47, 128, 237, 0.15);
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.CANCELLED {
  color: #EB5757;
  background-color: rgba(234, 95, 95, 0.15);
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.COMPLETED {
  color: #27AE60;
  background-color: rgba(39, 174, 96, 0.1);
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.CONVERTED {
  color: black;
  background-color: yellow;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.DELIVERED {
  background-color: #5589ed;
  color: #ffffff;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.ON_HOLD {
  color: #926202;
  background-color: #f8dda7;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.DISPUTED {
  color: #900404;
  background-color: #f9b1b1;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.AWAITING_PAYMENT {
  color: #828282;
  background-color: rgba(130, 130, 130, 0.15);
  display: flex;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.AWAITING_FULFILMENT {
  color: #076a70;
  background-color: #d7fdff;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.MANUAL_VERIFICATION_REQUIRED {
  color: #1f4535;
  background-color: #e3e3e3;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.ORDER {
  padding: 5px 8px;
  width: fit-content;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500px;
}

.PAID {
  color: #008a16;
  font-weight: 800 !important;
  background-color: #fcfcfc;
  font-family:'Overpass', sans-serif;
  font-weight: 600;
}

.qty {
  padding: 7px !important;
  padding-top: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-container {
  display: flex;
}

#print-area {
  display: flex;
  justify-content: space-between;
}

#print-area>div {
  background: #EEEEEE;
  padding: 20px 0;
}

.order-width {
  max-width: 580px;
  min-width: 400px;
}

.customer-details {
  display: flex;
  margin-top: 20px;
}

p {
  line-height: 5px;
  font-weight: 400;
}

h5 {
  font-weight: 600;
}

.order-image {
  object-fit: contain;
  margin-right: 20px;
  width: 60px;
}

.product-name {
  color: rgb(0, 127, 218);
  text-decoration: underline;
}

.order-flex {
  display: flex;
}

.order-table {
  width: 100%;
}

.order-table thead tr th:first-child {
  width: 65% !important;
}

.order-table tbody tr td:first-child {
  width: 65% !important;
}

.order-table tr {
  display: flex;
  justify-content: space-between;
}

.order-items,
.shipping-items,
.order-total {
  padding: 10px;
}

.order-total {
  display: flex;
  justify-content: flex-end;
}

.flex-right {
  margin-top: 20px;
}

.order-card {
  margin-bottom: 20px;
}

.invoice-btn {
  background: #d9d6d6 !important;
  color: #000 !important;
  font-size: 12px !important;
  width: 180px !important;
}

.textarea {
  background: #eee;
}

.order-view {
  background-color: #edf2f4;
}

.no-border .MuiPaper-root {
  box-shadow: none;
  height: 100%;
}

.no-border1 {
  padding-top: 4px!important;
}

.no-border1 .MuiPaper-root {
  box-shadow: none;
  height: 100%;
}

.no-border2 {
  padding-top: 6px!important;
}

.no-border2 .MuiPaper-root {
  box-shadow: none;
  height: 100%;
}

.order-header p {
  font-size: 11px;
}

.order-text-10 {
  font-size: 10px;
}

.order-text-12 {
  font-size: 12px;
}

.order-text-14 {
  font-size: 14px;
}

.order-border-bottom {
  border-bottom: 1px solid #edf2f4;
}

.desc-width {
  width: 150px;
}

.comment-header, .download-header, .notice-header{
  font-weight: bold !important;
}

.notice-btn{
  background: #eee !important;
  color:#000 !important;
}

.chat-text-12{
  font-size: 12px !important;
}
.chat-section{
  margin-top: 10px !important;
}

.edit-action button{
  /* background: rgb(223, 223, 223); */
  color: #4e8b0f;
  cursor: pointer;
  font-weight: 700;
  padding: 0;
  font-size: 8px;
}
.edit-dropdown{
  padding: 0 !important; 
}
select.status-box{
  padding: 5px;
  background: rgb(230, 230, 230);
  outline: 0px;
  border: 0px;
  font-size: 10px;
  font-weight: bold;
  width: 100px !important;
}
.header-flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.del-icon{
  font-size: 14px !important;
  cursor: pointer;
}

.stats-nav {
  position: absolute;
  left: 20px;
  top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  font-size: 11px;
}
.stats-nav span{
  display: inline-block;
  margin-right: 10px;
}
.stats-nav li{
  cursor: pointer;
  padding-right: 10px;
}
.stats-nav li:hover{
  font-weight: 600;
}

.filter-area{
  margin-bottom: 40px !important;
}


.all-order-table thead tr th {
  padding-left: 24px !important;
  padding-right: 24px !important;
  background: #F0F2F5;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.all-order-table thead tr th .MuiButton-text {
  font-weight: 500;
  color: #000000;
  font-family:'Hind', sans-serif;
  font-weight: 600;
}

.all-order-table .MuiTableCell-root {
  border-bottom: 4px solid #ffffff!important;
}

.all-order-table tbody tr td {
  padding-left: 24px !important;
  padding-right: 24px !important;
  background: #FAFBFD;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #000000;
  font-family:'Overpass', sans-serif;
  font-weight: 400;
}

.all-order-table .MuiTable-root {
  margin-top: 10px;
}

.addnew {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.order-sources .MuiSelect-root {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
}

.active{
  color: red !important;
}

.abadoned-table thead tr th {
  padding-left: 24px !important;
  padding-right: 24px !important;
  background: #F0F2F5;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.abadoned-table thead tr th .MuiButton-text {
  font-weight: 500;
  color: #000000;
}

.abadoned-table .MuiTableCell-root {
  border-bottom: 4px solid #ffffff!important;
}

.abadoned-table tbody tr td {
  padding-left: 24px !important;
  padding-right: 24px !important;
  background: #FAFBFD;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #000000;
}

.abadoned-table .MuiTable-root {
  margin-top: 10px;
}

.ABADONED {
  padding: 5px 8px;
  width: fit-content;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500px;
}
.stats-nav .active{
  font-size: 12x;
  font-weight: 600;
  text-decoration: underline;
  color: #000 ;
}

.stats-nav button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EA8C8C33;
  border: none;
  padding: 2px 10px;
  border-radius: 3px;
  color:  rgba(235, 87, 87, 0.4);
  font-size: 6px;
  cursor: pointer;
}

.divider{
  width: 1px;
  height: 20px;
  background: #828282;
  margin-right: 10px;
}

.disabled{
  background: rgba(155, 155, 155, 0.15) !important;
  color: #BDBDBD !important;
}