.special-order-table thead tr th {
  padding-left: 24px!important;
  padding-right: 24px!important;
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
}

.special-order-table tbody tr td {
  padding-left: 24px!important;
  padding-right: 24px!important;
  font-size: 14px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

.w-full {
  width: 100%;
}

.special-order-table thead tr th:first-child{
  width: 100px !important; 
}



.all-centres-table thead tr th{
  padding-left: 48px;
  background: #F0F2F5;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bolder !important;
}

.all-centres-table thead tr th .MuiButton-text {
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  font-family: 'Hind', sans-serif;
}

.all-centres-table .MuiTableCell-root {
  border-bottom: 4px solid #ffffff!important;
}

.all-centres-table tbody{
  padding: 0 20px;
  overflow-x: hidden;
}
.all-centres-table tbody tr td {
  padding-left: 24px !important;
  padding-right: 24px !important;
  background: #FAFBFD;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #000000;
  font-family: 'Overpass'sans-serif;
  font-weight: 400;
}

.all-centres-table .MuiTable-root {
  margin-top: 10px;
}

.all-centres-table tbody tr td{
  text-align: center;
}

.all-centres-table h5{
  font-size: 14px !important;
}

.all-centres-table .material-icons{
  font-size: 14px !important;
}