.title {
    font-size: 24px;
    color: black!important;
}



.vendor-table thead tr th {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #F0F2F5;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .vendor-table thead tr th .MuiButton-text {
    font-weight: 500;
    color: #000000;
  }
  
  .vendor-table .MuiTableCell-root {
    border-bottom: 4px solid #ffffff!important;
  }
  
  .vendor-table tbody tr td {
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #FAFBFD;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000000;
  }
  
  .vendor-table .MuiTable-root {
    margin-top: 10px;
  }
  
  



.text-muted {
    color: #4A466DDE;
    font-size: 12px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
  
.text-control {
    font-size: 14px;
    color: #4A466DDE;
  
}
  