.PENDING {
    background-color: #ffc8a7;
    color: #bf510f;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.PROCESSING {
    color: #197e19;
    background-color: #c6e1c6;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.COMPLETED {
    color: #095aba;
    background-color: #85bbfa;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.DELIVERED {
    background-color: #5589ed;
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.ON_HOLD {
    color: #926202;
    background-color: #f8dda7;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.DISPUTED {
    color: #900404;
    background-color: #f9b1b1;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.AWAITING_PAYMENT {
    color: #9f6a00;
    background-color: #fff8d7;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.AWAITING_FULFILMENT {
    color: #076a70;
    background-color: #d7fdff;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.MANUAL_VERIFICATION_REQUIRED {
    color: #1f4535;
    background-color: #e3e3e3;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.ORDER {
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 600 !important;
    font-size: 18px;
    font-family: 'Hind',sans-serif;
}

.PAID {
    color: #008a16;
    background-color: #fcfcfc;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.qty {
    padding: 7px !important;
    padding-top: 12px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}