body {
  margin: 0;
  font-family:  'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
  position: relative;
}

code {
  font-family: 'Fira Sans Condensed', 'Hind', 'Overpass', sans-serif;
  color: rgba(255, 0, 221, 0.863);
  font-size: 16px;
  // color: rgba(255, 162, 0, 0.842);
}

.custom-danger {
  color: #f44336;
  margin: 0;
  font-size: 0.75rem;
  margin-top: 3px;
  text-align: left;
  font-family:  'Overpass', sans-serif;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.03333em;
}

.customer-table .MuiToolbar-root {
  align-items: flex-start;
}

